<div class="bank-start-page" dir="rtl">
  <section class="welcome-card">
    <h1>ברוכים הבאים!</h1>

    <p>
      הגעתם למערכת אשראי צרכני של בנק מזרחי טפחות. כדי להתחיל,
      מלאו את פרטי הלקוח כדי לשלוח לו קישור.
    </p>
  </section>

  <!-- <section class="bank-form-card" [formGroup]="form">
    <h2>יש למלא את פרטי הלקוח</h2>

    <div class="form-grid three-columns">
      <div class="field" *ngFor="let field of config.fields">
        <label>
          {{ field.label }}
          <span *ngIf="field.required" class="required-star">*</span>
        </label>

        <input [type]="field.type === 'email' ? 'email' : 'text'" [formControlName]="field.name"
          [class.invalid]="isInvalid(field.name)" />

        <small class="field-error" *ngIf="isInvalid(field.name)">
          שדה חובה
        </small>
      </div>
    </div>

    <label class="privacy-row" *ngIf="config.showPrivacyCheckbox">
      <span>
        ידעתי את הלקוח על מדיניות הפרטיות
        <a href="#">למדיניות הפרטיות</a>
      </span>
      <input type="checkbox" formControlName="privacyApproved" />
    </label>

    <button type="button" class="send-button" [disabled]="isSending" (click)="submitStartForm()">
      {{ config.submitButtonText }}
    </button>
  </section> -->
  <section class="bank-form-card">
    <form [formGroup]="form" (ngSubmit)="submitStartForm()">
      <h2>יש למלא את פרטי הלקוח</h2>

      <div class="form-grid three-columns">
        <div class="field" *ngFor="let field of config.fields">
          <label>
            {{ field.label }}
            <span *ngIf="field.required" class="required-star">*</span>
          </label>

          <input [type]="field.type === 'email' ? 'email' : 'text'" [formControlName]="field.name"
            [class.invalid]="isInvalid(field.name)" />

          <small class="field-error" *ngIf="isInvalid(field.name)">
            שדה חובה
          </small>
        </div>
      </div>

      <label class="privacy-row" *ngIf="config.showPrivacyCheckbox">
        <input type="checkbox" formControlName="privacyApproved" />
        <span>
          ידעתי את הלקוח על מדיניות הפרטיות
          <a href="#">למדיניות הפרטיות</a>
        </span>
        
      </label>

      <app-checkbox-field
            class="full-width"
            [form]="form"
            controlName="isMailingAddressDifferent"
            label="כתובת למשלוח דואר אינה זהה לכתובת המגורים שלי"
          >
          </app-checkbox-field>

      <button type="submit" class="send-button" [disabled]="isSending">
        {{ config.submitButtonText }}
      </button>
    </form>
  </section>
</div>

<app-otp-popup *ngIf="showOtpPopup" (closed)="showOtpPopup = false" (confirmed)="onOtpConfirmed($event)"
  (resend)="onOtpResend()" [phoneNumber]="form.controls.mobile.value">
</app-otp-popup>

<app-loan-decision-modal *ngIf="showSuccessPopup" [type]="'linkSentSuccess'" (confirmed)="showSuccessPopup = false">
</app-loan-decision-modal>